# Programming for Data Analysis Assignment 2023

Preliminary idea for the project. 

Performance plastics are created using woven fabric. The fabric is dipped in a liquid formula which is then dried through a series of controlled temperature zones at a controlled speed. The specific gravity of the liquid formula has to be controlled as the process proceeds.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Read in the information from the csv file and save as a dataframe

In [2]:
df = pd.read_csv("data.csv", header=None)
df

          0       1      2    3         4
0    temp_1  temp_2  speed   SG  material
1       5.1     3.5    1.4  0.2  SP3050BT
2       4.9       3    1.4  0.2  SP3050BT
3       4.7     3.2    1.3  0.2  SP3050BT
4       4.6     3.1    1.5  0.2  SP3050BT
..      ...     ...    ...  ...       ...
146     6.7       3    5.2  2.3  SP3052BT
147     6.3     2.5      5  1.9  SP3052BT
148     6.5       3    5.2    2  SP3052BT
149     6.2     3.4    5.4  2.3  SP3052BT
150     5.9       3    5.1  1.8  SP3052BT

[151 rows x 5 columns]

In [3]:
print(df.describe())

          0    1    2    3         4
count   151  151  151  151       151
unique   36   24   44   23         4
top       5    3  1.5  0.2  SP3050BT
freq     10   26   14   28        50

In [7]:
df[4].value_counts()

SP3050BT    50
SP3051BT    50
SP3052BT    50
material     1
Name: 4, dtype: int64